.dashboard-wrapper {
  width: 100%;
  min-height: calc(100vh - 40px);
}

.dashboard-content {
  width: 80%;
  margin: 0px auto;

  @media screen and (max-width: 540px) {
    width: 100%;
    margin: 5px auto;
  }
}

.dashboard-header {
  padding: 20px;
  text-align: center;
  color: #2d2d2d;
  cursor: default;

  & > h1 {
    font-size: 60px;
    font-weight: 500;

    & > span {
      color: #fff;
    }

    @media screen and (max-width: 540px) {
      font-size: 40px;
    }
  }
}

.dashboard-content--see-more-button {
  text-decoration: none;
  display: block;
  border: 2px solid #fff;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  outline: none;
  margin: 40px auto;
  transition: all 0.2s ease-in-out;
  line-height: 50px;
  width: 300px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  @media screen and (max-width: 540px) {
    margin-top: 10%;
    width: 200px;
    font-size: 12px;
  }
}

.dashboard-content--move-top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  text-decoration: none;
  display: block;
  border: 3px solid #fff;
  text-align: center;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  outline: none;
  width: 75px;
  height: 75px;
  margin: 25px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  line-height: 75px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  @media screen and (max-width: 720px) {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 36px;
  }

  @media screen and (max-width: 540px) {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
  }
}

